body{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
}

.top_bg_image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/usemain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

.top_bg_image_text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.top_bg_image_text h1{
    font-size: 60px;
    font-weight: 800;
}
.top_bg_image_text p{
    margin-bottom: 50px;
}

 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 3px;
    background-image: linear-gradient(rgb(248, 87, 114), tomato);
}
.donate_today{
    text-align: center;
}
.donate_today h1{
    font-size: 40px;
    font-weight: 900;
}
.donate_today p{
    color: gray;
}

.container2{
    width: 100%;
    /* margin-left: 10%; */
}
hr{
    width: 50%;
}


.all_in_one{
    display: flex;
    justify-content:center;   
    margin-bottom: 80px;
    column-gap: 25px;
}
.donate_today{
    margin-bottom: 70px;
}


.taka1{
    background-color: rgba(96, 96, 96, 0.071);
    padding: 40px 45px;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(75, 69, 69);
}
#taka2{
    background-color: rgba(96, 96, 96, 0.071);
    padding: 40px 45px;
    font-size: 30px;
    font-weight: bolder;
    box-shadow: 5px  rgb(122, 65, 65);
    outline-style: solid;
    color: rgb(255, 0, 0);
    background-color: rgba(225, 184, 184, 0.573);
    align-items: center;
}

.container3{
    width: 100%;
    /* margin-left: 9%; */

    margin-bottom: 150px;
}


#food_for_family{
    background-color:rgba(95, 141, 145, 0.185);
    padding: 25px 60px;
    font-size: 17px;
    color: rgb(75, 69, 69);
}

#shelter_for_family{
    background-color:rgba(155, 79, 150, 0.185);
    padding: 25px 60px;
    font-size: 17px;
    color: rgb(30, 32, 30);
}

#education_for_a_child{
    background-color:rgba(179, 188, 104, 0.185);
    padding: 25px 60px;
    font-size: 17px;
    color: rgb(28, 28, 28);
}
.separate_card  {
    display: flex;
    justify-content: center;
    column-gap: 20px;

}

#layout div{
    width: 20%;
}

.container4{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.container4 div{
    width: 40%;
}

.container4 img{
    /* height: 600px; */
    width:80%;
}
 a:hover{
    background-image: linear-gradient(rgb(91, 139, 131),rgb(74, 241, 183));
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-weight: 900;
    color: black;
}
.p_style{
    color: gray;
    line-height: 30px;
}



